#site_logo {
    height: 50px;
}

#site_name {
    height: 40px;
}

#navbar {
    background-color: white;
}

#navBarItems {
    text-decoration: none;
    font-family: 'Titillium Web', sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: black;
}

#loginButton {
    font-size: 20px;
    font-weight: bold;
    color: white !important;
    font-family: 'Titillium Web', sans-serif !important; 
    padding: 0.5em 1em !important;
    margin: 0.25em !important;
    border-radius: 1em !important;
    border: none !important;
    outline: none !important;
    background: #80A260 !important;
}

#loginButton:hover {
    background: #FE7134 !important;
    color: black !important;
}

/* ---------------Home Page-------------- */

#splash_image {
    height: 700px;
    background: rgba(253, 253, 253, 0.048) url(./Images/Splash_Image.jpg);
    background-blend-mode: darken;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#splashTitleBox {
    background: rgb(253, 253, 253, 0.8);
}

#search_bar {
    background-color: white;
    width: 35%;
    border-radius: 50px;
    height: 2.5rem;
    box-shadow: 0px 0px 8px #ddd;
    display: flex;
    align-items: center;
    margin: 0 auto;
}

#searchBar_icon {
    margin-left: 10px;
    color: #4E613A;
}

#search_bar input {
    background-color: transparent;
    border: none;
    height: 100%;
    font-family: 'Titillium Web', sans-serif;;
    font-size: 1.25rem;
    width: 100%;
    margin-left: 5px;
}

#search_bar input:focus {
    outline: none;
}

#results_list {
    width: 35%;
    background-color: white;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 8px #ddd;
    border-radius: 10px;
    margin-top: 1rem;
    max-height: 200px;
    /* overflow: scroll; */
    align-items: center;
    margin: 0 auto;
}

#search_result {
    font-family: 'Titillium Web', sans-serif;
    
}

#search_result:hover {
    cursor: pointer;
    text-decoration: underline;
}

#tag_line {
    font-family: 'Titillium Web', sans-serif;
    font-size: large;
    font-weight: bold;
    color: #FE7134;
}

#register_tagline{
    font-family: 'Titillium Web', sans-serif;
    font-size: 20px;
    color: #4E613A;
    font-weight: bold;
}

#register_tagline:hover{
    color: #FE7134;
    font-size: 22px;
    font-weight: bold;
}

/* #trail_list_header {
    
} */

#trail_list_title {
    font-family: 'Titillium Web', sans-serif;
    font-size: 30px;
    color: #4E613A;
    font-weight: bold;
}

/* -------------------Login Page------------------------- */

#login_page {
    height: 890px;
    background: url(./Images/sunrise_flowers.jpeg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#login_form_div {
    background: rgb(253, 253, 253, 0.8);
}

#login_form_title {
    font-family: 'Titillium Web', sans-serif;
    font-size: 40px;
    color: #4E613A;
    font-weight: bold;
}

#login_page form label {
    font-family: 'Titillium Web', sans-serif;
    font-size: 20px;
    color: #4E613A;
    font-weight: bold;
}

#login_form_goToRegister {
    font-family: 'Titillium Web', sans-serif;
    font-size: 30px;
    color: #4E613A;
    font-weight: bold;
}


/* -----------------------About Page---------------------------- */

#about {
    height: 890px;
    background: url(./Images/orange_mountain_sunset.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#about_page {
    background: rgb(253, 253, 253, 0.8);
}

#about_header {
    font-family: 'Titillium Web', sans-serif;
    font-size: 50px;
    color: #4E613A;
    font-weight: bold;
}

#about_page p {
    font-family: 'Titillium Web', sans-serif;
    font-size: 20px;
}

/* -----------------------Trail Page------------------------- */

#trailPage_detailsCard {
    background-color: rgb(241, 241, 241);
}

#trailPage_Card {
    height: 400px;
    background: rgba(0, 0, 0, 0.25) url(./Images/trail_test_photo.jpg) no-repeat center center fixed;
    background-blend-mode: darken;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#trailPage_header {
    font-family: 'Titillium Web', sans-serif;
    color: #fefcee;
}

#trail_title {
    font-size: 60px;
    font-weight: bolder;
}

#trail_title_subtext {
    font-size: 20px;
    font-weight: bold;
    background-color: #4E613A;
    height: 40px;
}

#trailPage_text {
    font-family: 'Titillium Web', sans-serif;
    font-size: 20px;
}

#trailPage_title {
    font-family: 'Titillium Web', sans-serif;
    font-size: 30px;
    font-weight: bold;
}
